@font-palette-values --nabla {
    font-family: nabla;
    base-palette: 7;
    }

body{
    margin-left: 30px;
    background-color:#63b7be;
}

path{
    stroke-dasharray: 1000;  
    animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}


article {
    max-width: 80ch
}

head{
    margin-left: 20px
}

h1 {
    font-family: 'Nabla', cursive;
    font-size: 350%;	 
    font-palette: --nabla 
}



.blogtitle {
    color:#166826;
	font-family: 'Duru Sans', sans-serif;
	font-size: 14px;
    line-height: 30%
    }

    .bigblogtitle {
        color:#166826;
        font-family: 'Duru Sans', sans-serif;
        font-size: 64px;
        
        }

    ul {font-family: 'Duru Sans', sans-serif;
        font-size: 14px;
        margin-left: 40px;
        line-height: 130%;
        padding: 0px;
    }
.bloggin {
    font-family: 'Duru Sans', sans-serif;
	font-size: 14px;
    margin-left: 10px;
    line-height: 130%
        }

 a:link {
            color: rgb(226, 244, 125);
            background-color: transparent;
            text-decoration: none;
          }
          
          a:visited {
            color: rgb(141, 60, 141);
            background-color: transparent;
            text-decoration: none;
          }
          
          a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
          }
          
          a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
          }

 .date {
    font-family: 'PT Sans Narrow', sans-serif;
	font-size:11px;
    margin-top: 30px
 }