

body{
    margin-left: 100px;
    background-color:#00ff00;
}

head{
    margin-left: 20px
}

h1 {
    color:#ff00ff;
	font-family:"DIN Condensed Light", sans-serif;
	font-size:80px;
    line-height: 63px;
	font-style:normal;
    letter-spacing: 6px;
	  
}

.blogtitle {
    color:#898baf;
	font-family:"Museo Slab 300", serif;
	font-size:16px;
	font-style:normal;
    line-height: 50%;
	font-weight: 300;
    }

.bloggin {
        font-family: museo-sans, sans-serif;
        font-size: 14px;
        width: 50%;
        line-height: 19px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: normal;
        margin-left:10px;
        color: #000000;
        }

 a:link {
            color: rgb(193, 219, 42);
            background-color: transparent;
            text-decoration: none;
          }
          
          a:visited {
            color: rgb(70, 127, 135);
            background-color: transparent;
            text-decoration: none;
          }
          
          a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
          }
          
          a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
          }

 .date {
    font-family:"DIN 2014", sans-serif;
	font-size:10px;
    line-height:0pt;
	font-style:normal;
	font-weight:normal;
 }